html, body {
    margin: 0;
    height: 100%;
}
a{
    color: #D3D4D7; text-decoration: none;
}

@keyframes loaderglow {
    from {box-shadow: 1px 0px 0px #018ABE;}
    to {box-shadow: 15px 0px 0px #018ABE;}
}
.loader{
    position: fixed;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    color: white;
    font-size: 64px;
    font-family: Ubuntu;

    box-shadow: 1px 0px 0px #018ABE;
    animation-name: loaderglow;
    animation-duration: 2s;
}

@keyframes loader {
    from {width: 0px;}
    to {width: 100%;}
}
.emptyloader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1%;
    width: 50%;
    background-color: #04060D;
    border-radius: 30px;
}
.fillloader{
    height: 100%;
    width: 1%;
    border-radius: 30px;
    background-color: #018ABE;
    animation-name: loader;
    animation-duration: 2s;
}


.main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 740px minmax(min-content, max-content) 256px;
}

.menumenu{
    position: fixed;
    top: 50px;
    left: calc(100% - 300px);
    border: 2px solid #3E8DE3;
    border-radius: 10px;
    height: 250px;
    width: 296px;
    display: none;
}
.settingsmenu{
    position: fixed;
    top: 50px;
    left: calc(100% - 300px);
    border: 2px solid #3E8DE3;
    border-radius: 10px;
    height: 68px;
    width: 296px;
    display: none;
}
.settingsgrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 24px 40px;
}
.settingstitle{
    grid-column-start: -1;
    grid-column-end: 1;
    text-align: center;
    font-family: Ubuntu;
    font-size: 20px;
}
.tswitch{
    font-size: 15px;
    font-family: Ubuntu;
}

/* --- */
.upcontent{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 48px 1fr;
    background-image: url("https://www.ge.com/content/dam/gepower-new/global/en_US/images/gas-new-site/products/digital-and-controls/cybersecurity/hero-proven-cyber-security-expertise.jpg");
    background-size: cover;
    background-blend-mode:darken;
    background-color:rgb(0, 0, 0, 0.5);
    color: bisque;
}
.upperpan{
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 42px;
    font-family: sans-serif;
    position: fixed;
    background-color:rgb(0, 0, 0, 0.8);
    width: 100%;
    backdrop-filter: blur(5px);
    height: 48px;
    display: grid;
    grid-template-columns: 1fr 96px 96px;
    grid-gap: 5px;
    grid-template-rows: 1fr;
    transition: all 1s;
    
    opacity: 0;
}
.icon{
    width: 30px;
    height: 30px;
}
.free{
    font-family: Ubuntu;
    top: 48px;
}
.menus{
    height: 48px;
    font-size: 32;     
}
.button{
    text-align: center;
    vertical-align: middle;
    border-radius: 5px;
    font-family:'Roboto',sans-serif;
    transition: all 0.2s;
    background-color: #3E8DE3;
}
.button:hover{
    background-color: #D3D4D7;
    box-shadow: 0px 0px 15px #D3D4D7;
}
.button:active{
    box-shadow: 0px 0px 20px white;
}

/* --- */
.content{
    grid-column-start: 1;
    grid-column-end: 3;
    display: grid;
    grid-template-columns:  minmax(10px, 1fr) minmax(10px, 1fr);
    padding: 20px;
}
.textcont{
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content max-content 64px;
    border-radius: 10px;
    row-gap: 10px;
    padding: 10px;
}
.imagecont{
    margin: auto;
    text-align: center;
}
.img{
    max-width:70%;
    max-height:70%;
    transition:all 0.5s;
    box-shadow: 0px 0px 10px #02457A;
}
.img:hover{
    box-shadow: 0px 0px 20px #018ABE;
}
.bigtext{
    font-size: 64px;
    font-family: Ubuntu;
}
.smalltext{
    font-size: 24px;
    font-family: Ubuntu;
}
.topicenter{
    width: 30%;
    color: #04060D;
    font-size: 18px;
}

.footer{
    display: grid;
    grid-template-columns: 20% 20%;
    grid-template-rows: 1fr 64px 1fr;
    justify-items: center;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    padding: 0px;
}
.link{
    font-size: 16px;
    font-family: Ubuntu;
    width: 200px;
    height: 64px;
    background-color:#02457A;
    color: #D3D4D7;
}
.link:hover{
    color: #04060D;
}
.linka{
    height: 64px;
    width: 200px;
    grid-row: 2;
    vertical-align: middle;
    align-items: center;
    justify-items: center;
}

.topic{
    display: none;
    position: fixed;
    width: 95%;
    height: 95%;
    top: 2.5%;
    left: 2.5%;
    border: solid #018ABE;
    border-radius: 10px;
}
.topicpanel{
    background-color: #018ABE;
    color: #D3D4D7;
    display: grid;
    grid-template-rows: 48px;
    grid-template-columns: 1fr 72px;
    font-size: 46px;
}
.topicexit{
    border-radius: 5px;
    margin: 0px;
    background-image: radial-gradient(rgb(150,0,0) 30%,rgb(255,0,0) 100%);
}

.framearticle{
    width: 100%;
    height: 94%;
    border: none;
}
/* ТЕМИ */
.lighttheme{
    color: #D6E8EE;
    background-color: #018ABE;
}
.darktheme{
    color:#D3D4D7;
    background-color: #04060D;
}

.darktheme1{
    background-color: #111111;
    color: #D3D4D7;
}
.lighttheme1{
    background-color: #02457A;
    color:#D6E8EE;
}