
p,h2,h3,h4,h5,h1 {
    color: rgb(209, 209, 209);
  }

h1#main{
  color: rgb(189, 189, 189);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  position: relative;
  left: 10%;

}

h2#iam{
  font-family: 'Times New Roman', Times, serif;
  position: relative;
  left: 10%; 
}

img#ava{
  position:relative;
  left: 10%;
}

p#copyright{
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
  position: relative;
  left: 10%;
}

p#info{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  left: 10%;
}

h1#aboutm{
  position: relative;
  left: 10%;
}

p#aboutme{
  position: relative;
  left: 10%;
}

body{
  block-size: 50%;
}

head{
  block-size: 50%;
}